# Logs
logs
codegen/*.ts
codegen/abi/**
!codegen/abi/.gitkeep

codegen/bytecode/**
!codegen/bytecode/.gitkeep

*.log
.env
node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

